* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 255);
}

html {
  font-size: 14px;
  font-family: outfit;
}

.qrCode {
  max-width: 90vw;
  max-height: 40rem;
  margin: 5rem auto 2rem;
  display: block;
  border-radius: 5%;
}

.header,
.text,
.info {
  text-align: center;
  max-width: 35rem;
}

.header {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.3rem;
  margin: 3rem auto 2.3rem;
}

.text {
  font-weight: 400;
  margin: 0 auto;
  line-height: 2.5rem;
  font-size: 1.7rem;
}

.info {
  margin: 10rem 0;
  font-size: 1.3rem;
  a {
    line-height: 5rem;
    font-size: 2rem;
  }
  :hover {
    color: rgb(173, 216, 230);
    text-shadow: 10px -16px rgba(0, 0, 0, 0.5);
  }
}
